[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
sysinfo.txt
Packages/packages-lock.json
.vscode/
.idea/
.DS_Store
Thumbs.db
*.apk
*.aab
.vs/
